body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

h2 {
    color: navy;
    margin-left: 20px;
}

#guessWord {
}

.inputWord {
    height: 30px;
    width: 30px;
    font-size: 20px;
}

#correct {
    height: 30px;
    width: 30px;
    background: green;
}

#wrong {
    height: 30px;
    width: 30px;
    background: red;
}

.display {
    margin-left: 50px;
}

#str_swap {
    font-size: 25px;
    margin-left: 30px;
    margin-top: 50px;
}

#swap_box {
    height: 30px;
    width: 87px;
    background: azure;
}

#swap_boxA {
    padding-left: 0px;
    float: left;
}

#swap_box_IMG {
    padding-left: 1px;
    float: left;
}

#swap_boxB {
    padding-left: 1px;
    float: left;
}

#process_box {
    height: 60px;
    width: 100px;
}

#process_box_0 {
    height: 60px;
    width: 70px;
    padding-left: 0px;
    float: left;
}

#process_box_1 {
    padding-left: 1px;
    float: left;
}

#plaintext {
    height: 200px;
    width: 400px;
}

.inputNumber {
    height: 30px;
    width: 30px;
}

#X_BOX {
    height: 150px;
    width: 30px;
    float: left;
}

#Y_BOX {
    height: 150px;
    width: 30px;
    float: left;
    padding-left: 10px;
}

#check_box {
    height: 215px;
    width: 215px;
    /*background: green;*/
}

#ANSWER_BOX {
    height: 150px;
    width: 60px;
    float: left;
    padding-left: 10px;
}

.answerbox {
    padding-top: 10px;
    padding-left: 5px;
}

.button {
    height: 60px;
    width: 80px;
    background-color: #4CAF50; /* Green */
    border: none;
}

#button1 {
    position: relative;
    text-align: center;
    top: 0px;
    left: 0px;
    /*position: absolute;*/
}

#button2 {
    /*position: relative;*/
    text-align: center;
    top: 0px;
    left: 64px;
    /*position: absolute;*/
}

#congratulation_box {
    text-align: center;
}

#ask_box {
    height: 600px;
    width: auto;
    background: green;
}

#quotes_box {
    text-align: center;
}

#button_box {
    text-align: center;
}